@import 'variables';

@mixin flex_all_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex_column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin linearGradient {
    background: linear-gradient(to bottom right, $green-color 10%, $blue-color 90%);
}

@mixin shadowBtn {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 4px, rgba(0, 0, 0, 0.3) 0px 15px 15px -3px, rgba(0, 0, 0, 0.1) 0px 15px 15px
}
